<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<label>GGDHJNGJKD</label>
</body>
</html>

<!--            <select>-->
<!--                <option value="RED">red</option>-->
<!--                <option value="BLUE">blue</option>-->
<!--                <option value="WHITE">white</option>-->
<!--                <option value="YELLOW">yellow</option>-->
<!--                <option value="GREEN">green</option>-->
<!--                <option value="BLACK">black</option>-->
<!--                <option value="GRAY">gray</option>-->
<!--            </select>-->
<!--        </input>-->


