<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MainPage</title>
    <link href="style.css">
</head>
<style>
    div {
        border-top: 2vw;
        text-align: center;
    }
   
    table {
        margin: auto;
        border-collapse: collapse;
        width: 60%;
    }
    td {
        border: 1px solid black;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
    }
    th {
        border: 1px solid black;
        padding: 1vw;
        text-align: center;
        margin: 5px
    }

</style>

<body>
    <table>
        <tr>
            <th>Size</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Material</th>
        </tr>
        <tr th:each="table : ${pageLoader.getList()}">

            <td th:utext="${table.size}">...</td>
            <td th:utext="${table.brand}">...</td>
            <td th:utext="${table.color}">...</td>
            <td th:utext="${table.material}">...</td>
            <td style="border: none; text-align: left;">
                <form style="border: none; " th:action="@{/delete}" method="POST">
                    <button style="margin-top: 0.5vw;"> delete
                        <input type="hidden" name="page" th:value="${page}">
                        <input type='hidden' name="tableId" th:value="${table.id}">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div th:if="${pageLoader.totalPages > 0}">
        <div class="pagination-optional">
            <a th:if="${pageLoader.totalPages>4}"
               th:href="@{/read(page=0,search=${search})}"
               th:text="1"/>
            <a th:if="${pageLoader.totalPages>4}"
               th:href="@{/read(page=1,search=${search})}"
               th:text="2"/>
        </div>

        <a th:if="${page!=0}"
           th:href="@{/read(page=${page}-1, search=${search})}"
           th:text="${page}"/>
        <p th:text="${page+1}"> </p>
        <a th:if="${page!=pageLoader.totalPages}"
           th:href="@{/read(page=${page}+1, search=${search})}"
           th:text="${page}+2"/>

        <div class="pagination-optional">
            <a th:if="${pageLoader.totalPages>4}"
               th:href="@{/read(page=${pageLoader.totalPages}-1,search=${search})}"
               th:text="${pageLoader.totalPages}"/>
            <a th:if="${pageLoader.totalPages>4}"
               th:href="@{/read(page=${pageLoader.totalPages},search=${search})}"
               th:text="${pageLoader.totalPages+1}"/>
        </div>
    </div>
    <!--<div th:if="${pageLoader.totalPages > 0}" class="pagination"
         th:if="${page!=0}"
         th:each="pageNumber : ${pageLoader.pageNumbers}">
        <a style="display: inline-block" th:href="@{/read(page=${pageNumber}, search=${search})}"
           th:text="${page+1}"
           th:class="${pageNumber==page + 1} ? active"></a>

    </div>
-->
<p th:value="${addMessage}"></p>
</body>
</html>